certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
cycler==0.10.0
idna==2.8
jieba==0.39
kiwisolver==1.0.1
lxml==4.3.1
matplotlib==3.0.2
numpy==1.16.1
Pillow==6.2.0
pyparsing==2.3.1
pyquery==1.4.0
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
urllib3==1.24.1
wordcloud==1.5.0